Repository UB-ES-2024-A2/website_project_a2, pull requests merged in 2024-12, with the labels that each got.

#123 Hotfix/v0.1.3
  backend/app/api/main.py
Labels: bug, deployment

#124 Hotfix/v0.1.3
  .github/workflows/test.yml
  backend/app/api/deps.py
  backend/app/api/main.py
  backend/app/api/routes/books.py
  backend/app/api/routes/login.py
  backend/app/api/routes/signup.py
  backend/app/api/routes/users.py
  backend/app/backend_pre_start.py
  backend/app/core/config.py
  backend/app/core/config_utils.py
  backend/app/core/db.py
  backend/app/core/security.py
  backend/app/initial_data.py
  backend/app/main.py
  backend/app/tests/conftest.py
  backend/app/tests/test_books.py
  backend/app/tests/test_service.py
  backend/app/tests/test_users.py
  backend/app/utils.py
  backend/package-lock.json
  backend/package.json
  frontend/src/components/BookPage.vue
  frontend/src/components/Navbar.vue
  frontend/src/views/HomePage.vue
Labels: bug, deployment

#125 US17_Task1: Refactor Books CRUD Operations
  backend/app/api/routes/books.py
  backend/app/core/db.py
  backend/app/crud/__init__.py
  backend/app/crud/book.py
  backend/app/tests/conftest.py
  backend/app/tests/integration/test_books.py
  backend/app/tests/integration/test_service.py
  backend/app/tests/integration/test_users.py
  backend/app/tests/test_books.py
Labels: backend, tests

#128 fix bug meta frontend
  .github/workflows/azure-container-webapp.yml
  frontend/index.html
Labels: bug

#129 US17_Task2: Refactor Users CRUD Operations
  backend/app/api/routes/users.py
  backend/app/crud/user.py
Labels: backend

#132 US17_Task3: Refactor Comments CRUD Operations
  backend/app/crud/__init__.py
  backend/app/crud/rating.py
  backend/app/tests/integration/test_comments.py
Labels: backend

#135 US17_Task6: Test CRUD Operations for Comments
  backend/app/tests/unit/test_comment.py
Labels: tests

#137 US17_Task4: Test CRUD Operations for Books
  backend/app/tests/unit/test_book.py
Labels: tests

#141 Token-Based Authentication System
  backend/app/api/routes/login.py
  frontend/src/components/BookPage.vue
  frontend/src/components/FilterHeader.vue
  frontend/src/components/Navbar.vue
  frontend/src/store/store.js
  frontend/src/views/HomePage.vue
  frontend/src/views/LogIn.vue
  frontend/src/views/SignUp.vue
Labels: backend, frontend

#140 First Integration of userstory/US17-improve-test-coverage into develop
  backend/app/api/routes/books.py
  backend/app/api/routes/users.py
  backend/app/core/db.py
  backend/app/crud/__init__.py
  backend/app/crud/book.py
  backend/app/crud/rating.py
  backend/app/crud/user.py
  backend/app/tests/conftest.py
  backend/app/tests/integration/test_books.py
  backend/app/tests/integration/test_comments.py
  backend/app/tests/integration/test_service.py
  backend/app/tests/integration/test_users.py
  backend/app/tests/test_books.py
  backend/app/tests/unit/test_book.py
  backend/app/tests/unit/test_comment.py
  backend/app/tests/unit/test_user.py
Labels: tests

#152 Third Integration of userstory/US5-access-book-details into develop
  .github/workflows/test_backend.yml
  .github/workflows/test_frontend.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/views/LogIn.vue
  frontend/tests/test_login.ts
  frontend/tsconfig.json
Labels: tests

#166 Second Integration of userstory/US16-log-out into develop
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Navbar.vue
  frontend/tests/test_login.ts
  frontend/tests/test_validate_book.ts
  frontend/tests/test_validate_log_out.ts
  frontend/tsconfig.json
  frontend/utils/WebDriverFactory.ts
Labels: tests

#170 First Integration of userstory/US7-delete-comments-rating into develop
  backend/app/api/routes/users.py
  frontend/src/components/BookPage.vue
  frontend/tests/test_validate_delete_rating.ts
Labels: tests

#173 US13_Task8: UI test validate user page
  backend/app/api/routes/users.py
  frontend/src/components/BookPage.vue
  frontend/src/components/Navbar.vue
  frontend/src/store/store.js
  frontend/tests/test_validate_delete_rating.ts
  frontend/tests/test_validate_user_page.ts
Labels: tests

#184 US8_Task4: Develop my books view
  backend/app/api/routes/mybooks.py
  backend/app/crud/mybooks.py
  backend/app/models/mybook.py
  backend/app/tests/README.md
  frontend/src/App.vue
  frontend/src/components/BookPage.vue
  frontend/src/components/DefaultLibrary.vue
  frontend/src/components/FilterHeader.vue
  frontend/src/components/GridLibrary.vue
  frontend/src/components/GridPlaceHolderMyBooks.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/Tab.vue
  frontend/src/services/BookService.js
  frontend/src/views/HomePage.vue
Labels: frontend

#189 US8_Task2: Develop button for add book
  frontend/src/components/BookPage.vue
  frontend/src/components/DefaultLibrary.vue
  frontend/src/services/BookService.js
  frontend/src/views/HomePage.vue
Labels: frontend

#190 Second Integration of userstory/US8-mybooks into develop
  frontend/src/components/BookPage.vue
  frontend/src/components/DefaultLibrary.vue
  frontend/src/services/BookService.js
  frontend/src/views/HomePage.vue
Labels: frontend

#192 Second Integration of userstory/US9-edit-my-books into develop
  frontend/src/components/BookPage.vue
  frontend/src/components/DefaultLibrary.vue
Labels: frontend

#197 test mybooks for us8-task3
  backend/app/tests/integration/test_books.py
Labels: tests

#201 US18_TasK1: Implement url encoding and decoding
  .github/workflows/test_frontend.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/BookPage.vue
  frontend/src/components/CompactTab.vue
  frontend/src/components/FilterHeader.vue
  frontend/src/components/GridLibrary.vue
  frontend/src/components/GridTab.vue
  frontend/src/components/ListTab.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/Profile.vue
  frontend/src/components/Suggestion.vue
  frontend/tests/test_validate_book.ts
  frontend/tests/test_validate_delete_rating.ts
  frontend/tests/test_validate_user_page.ts
  frontend/utils/encoding.js
Labels: frontend

#203 First Integration of userstory/US18-implement-url-encoding-and-decoding into develop
  .github/workflows/test_frontend.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/BookPage.vue
  frontend/src/components/CompactTab.vue
  frontend/src/components/FilterHeader.vue
  frontend/src/components/GridLibrary.vue
  frontend/src/components/GridTab.vue
  frontend/src/components/ListTab.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/Profile.vue
  frontend/src/components/Suggestion.vue
  frontend/tests/test_validate_book.ts
  frontend/tests/test_validate_delete_rating.ts
  frontend/tests/test_validate_user_page.ts
  frontend/utils/encoding.js
Labels: frontend

#205 task/US14-Task1:User statistics
  backend/app/api/routes/readbooks.py
  backend/app/crud/readbooks.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/stats.png
  frontend/src/components/Barchart.vue
  frontend/src/components/PieChart.vue
  frontend/src/components/Profile.vue
  frontend/src/services/BookService.js
Labels: frontend

#200 test for readbooks
  backend/app/tests/integration/test_books.py
Labels: tests

#217 Fix: Show all books link
  frontend/src/components/Tab.vue
Labels: bug

#219 Fix: Show all books link
  frontend/index.html
  frontend/src/components/Tab.vue
Labels: bug

#220 Hotfix/2.0.4
  backend/app/api/routes/readbooks.py
  backend/app/crud/mybooks.py
Labels: bug

#224 Hotfix/2.0.4
  backend/app/crud/mybooks.py
  backend/app/crud/readbooks.py
Labels: bug
