Repository UB-ES-2024-A2/website_project_a2, pull requests merged in 2024-11, with the labels that each got.

#33 US3.1_Task4: Implement MainPage
  README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/cover.png
  frontend/src/assets/user-black.svg
  frontend/src/components/BookPage.vue
  frontend/src/components/CategoryTab.vue
  frontend/src/components/CompactTab.vue
  frontend/src/components/DefaultLibrary.vue
  frontend/src/components/FilterHeader.vue
  frontend/src/components/Footer.vue
  frontend/src/components/GridTab.vue
  frontend/src/components/HomePage.vue
  frontend/src/components/ListTab.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/Tab.vue
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/store/store.js
  frontend/src/views/HomePage.vue
  frontend/src/views/LogIn.vue
  frontend/src/views/SignUp.vue
Labels: frontend

#48 US3.1_Task7: Implement Suggestions
  frontend/src/App.vue
  frontend/src/components/BookPage.vue
  frontend/src/components/CompactTab.vue
  frontend/src/components/GridTab.vue
  frontend/src/components/ListTab.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/Suggestion.vue
  frontend/src/components/Suggestions.vue
  frontend/src/components/Tab.vue
  frontend/src/views/SignUp.vue
Labels: frontend

#50 Task/us3.1 task8 book service
  frontend/src/components/GridTab.vue
  frontend/src/components/ListTab.vue
  frontend/src/components/Navbar.vue
  frontend/src/services/BookService.js
  frontend/src/views/HomePage.vue
Labels: frontend

#58 US3.1_Task8: Bug Fixes
  backend/app/api/routes/books.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CategoryTab.vue
  frontend/src/components/CompactPlaceHolder.vue
  frontend/src/components/CompactTab.vue
  frontend/src/components/GridPlaceHolder.vue
  frontend/src/components/GridTab.vue
  frontend/src/components/ListPlaceHolder.vue
  frontend/src/components/ListTab.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/Suggestion.vue
  frontend/src/components/Tab.vue
  frontend/src/router/index.js
  frontend/src/services/BookService.js
  frontend/src/views/HomePage.vue
  frontend/src/views/NotFound.vue
  frontend/src/views/NotFoundPage.vue
Labels: bug, frontend

#70 Update library using filters
  backend/Dockerfile
  backend/app/main.py
  frontend/config/dev.env.js
  frontend/src/components/FilterHeader.vue
  frontend/src/components/Navbar.vue
  frontend/src/services/BookService.js
  frontend/src/services/UserService.js
  frontend/src/views/HomePage.vue
Labels: frontend

#100 US5_Task_3: Validate get book by
  backend/app/api/deps.py
  backend/app/api/main.py
  backend/app/api/routes/books.py
  backend/app/api/routes/login.py
  backend/app/api/routes/signup.py
  backend/app/api/routes/users.py
  backend/app/core/db.py
  backend/app/initial_data.py
  backend/app/tests/conftest.py
  backend/app/tests/test_books.py
  backend/app/tests/test_service.py
  backend/app/tests/test_users.py
Labels: tests

#106 US6_Task6: Validate POST Book Rating
  backend/app/api/routes/books.py
  backend/app/api/routes/users.py
  backend/app/tests/test_books.py
Labels: tests

#109 US5_Task2: Validate GET all books
  backend/app/api/routes/books.py
  backend/app/tests/test_books.py
Labels: tests

#115 Second Integration of userstory/US5-access-book-details into develop
  backend/app/api/routes/books.py
  backend/app/tests/test_books.py
  frontend/src/components/BookPage.vue
  frontend/src/components/Navbar.vue
  frontend/src/views/HomePage.vue
Labels: backend, frontend, tests

#116 First Integration of userstory/US6-leave-comments into develop
  backend/app/api/routes/books.py
  backend/app/api/routes/users.py
  backend/app/tests/test_books.py
Labels: backend, tests

#117 First Integration of userstory/US7-delete-comments-rating into develop
  backend/app/api/routes/books.py
  backend/app/core/db.py
  backend/app/tests/test_books.py
Labels: backend, tests

#118 US6_Task7: Validate GET book rating
  .github/workflows/test.yml
  backend/app/api/deps.py
  backend/app/api/routes/books.py
  backend/app/api/routes/login.py
  backend/app/api/routes/signup.py
  backend/app/api/routes/users.py
  backend/app/backend_pre_start.py
  backend/app/core/config.py
  backend/app/core/config_utils.py
  backend/app/core/db.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/tests/conftest.py
  backend/app/tests/test_books.py
  backend/app/tests/test_service.py
  backend/app/tests/test_users.py
  backend/app/utils.py
  backend/package-lock.json
  backend/package.json
Labels: enhancement

#119 Second Integration of userstory/US6-leave-comments into develop
  .github/workflows/test.yml
  backend/app/api/deps.py
  backend/app/api/routes/books.py
  backend/app/api/routes/login.py
  backend/app/api/routes/signup.py
  backend/app/api/routes/users.py
  backend/app/backend_pre_start.py
  backend/app/core/config.py
  backend/app/core/config_utils.py
  backend/app/core/db.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/tests/conftest.py
  backend/app/tests/test_books.py
  backend/app/tests/test_service.py
  backend/app/tests/test_users.py
  backend/app/utils.py
  backend/package-lock.json
  backend/package.json
Labels: tests
